# ====================
# JWT Configuration
# ====================
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# ====================
# Database Configuration
# ====================
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=


# ====================
# OAuth2 Configuration
# ====================
GOOGLE_ID=
GOOGLE_SECRET=
KAKAO_ID=
KAKAO_SECRET=
NAVER_ID=
NAVER_SECRET=
