# ====================
# JWT 설정
# ====================
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# ====================
# DB 설정
# ====================
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
